@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --blue: rgba(146, 210, 229, 1);
  --light-blue: rgb(221, 234, 238);
  --light-orange: rgba(255, 246, 239, 1);
  --orange: rgba(255, 171, 100, 1);
  --black: rgb(54, 54, 54);
}

body, html{
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.header {
  height: 100px;
  width: 100%;
  background-image: linear-gradient(var(--blue), var(--light-orange));
  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1{
  color: var(--black);
}

#logo {
  width: 300px;
  height: 100px;
}

.options {
  display: flex;
  align-items: center;
  gap: 25px;
}

.options a{
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
}

button#register {
  background: rgba(255, 255, 255, 1);
  width: 200px;
  height: 30px;
  margin-right: 70px;
  color: var(--orange);
  background: var(--light-orange);
  border: 1px solid var(--light-orange);
  border-radius: 20px;;
  text-shadow: none;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button#register:hover {
  background: var(--orange);
  color: var(--light-orange);
  text-shadow: none;
}

.main {  
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.page1 {
  background-color: var(--light-orange);
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.informationsPage1 {
  max-width: 600px;
  padding: 30px;
  gap: 30px;

  display: flex;
  flex-direction: column;
}

.informationsPage1 h2{
  font-size: 60px;
  font-weight: 700;
  color: var(--orange);
}

.informationsPage1 p{
  font-size: 30px;
  font-weight: 700;
  color: var(--black);
}

#app-exemple {
  padding: 0px 50px;
  margin: 50px 0px;
  height: 400px;
}

.page2 {
  background-color: var(--orange);
  width: 100%;
  height: 500px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.informationsPage2 {
  max-width: 600px;
  height: 500px;
  padding: 30px;
  gap: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.informationsPage2 h2{
  font-size: 60px;
  font-weight: 700;
  color: var(--light-orange);
}

.informationsPage2 p{
  font-size: 30px;
  font-weight: 700;
  color: var(--black);
}

.operationsPage2 {
  margin-right: 20px;

  height: 100%;
  min-width: 800px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.title-operations {
  margin: 30px 0px 20px 0px;

  color: var(--light-orange);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.operations h2{
  color: var(--light-orange);
  text-align: center;
}





.footer{
  height: 100px;
  background-image: linear-gradient(var(--light-orange), var(--blue));

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer p{
  font-size: 10px;
  text-align: center;
}

#instagram {
  width: 40px;
  height: 40px;
}

#twitter {
  width: 40px;
  height: 30px;
}

#linkedin {
  width: 50px;
  height: 50px;
}

#facebook {
  width: 40px;
  height: 30px;
}